@use "lib" as *;
@forward "global.scss";

$flash-card-width: 64rem;

.flash-card {
  @include flex-center;
  position: relative;
  width: $flash-card-width;
  flex-direction: column;
  gap: $gap-3xl;
  background-color: $background;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $gap-xl;
  margin-bottom: 2rem;
}

@media (max-width: $small-desktop-size) {
  .flash-card {
    width: 100%;
    height: calc(100dvh - 4.5rem);
    gap: $gap-xl;
    margin-top: 4.5rem;
    padding: 1rem;
    justify-content: start;
  }

  header {
    gap: 0.25rem;
    margin-bottom: 0;
  }
}
