@use "../styles/lib" as *;

$controller-padding: 1rem;

.controller {
  width: 100%;
  padding: $controller-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: $radius;
}

@media (max-width: $small-desktop-size) {
  .controller {
    position: fixed;
    bottom: 0;
    border-radius: 0;
    border: 0.0313rem solid $text;
  }
}
