:root {
  --text: #091b15;
  --background: #f1f9f7;
  --primary: #05d69e;
  --secondary: #80f5d5;
  --accent: #44fdcc;

  --radius: 0.625rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}

#app {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.outline-button {
  background-color: transparent;
  border: 1px solid #000;
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
  font-size: 1rem;
}

.primary-button {
  background-color: var(--primary);
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  border: none;

  &:hover {
    filter: brightness(95%);
  }
}

.controller-button {
  min-width: 9rem;
}

.icon-button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  .icon {
    width: 1rem;
    height: 1rem;
  }

  &:hover {
    color: var(--primary);
    .icon {
      fill: var(--primary);
    }
  }
}
